# added by cds deploy
# default-env.json

# added by cds deploy
connection.properties
package.json
.flattened-pom.xml


mta_archives/
srv/target/
srv/src/gen/
srv/src/main/resources/edmx/
db/src/gen/
node_modules/
sqlite.db