/* Enter your custom styles here */


.sapFDynamicPageAlignContent
{margin-bottom: 0.8em;}

.sapMInputBaseReadonlyWrapper, .sapMInputBaseDisabledWrapper {
     background: none ; 
     border: none;
     color: #333333;
}
     